<a href="https://colab.research.google.com/github/NeavKimpor/CRUD_Group4/blob/main/Data_Wrangling_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sklearn #marchine learing
import numpy as np #computation
import pandas as pd #data management

In [6]:
#1. Load the dataset
dataset = pd.read_csv("https://raw.githubusercontent.com/Opensourcefordatascience/Data-sets/master/blood_pressure.csv")
dataset.head(10)

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141
5        6  Male  30-45        150       147
6        7  Male  30-45        148       133
7        8  Male  30-45        153       141
8        9  Male  30-45        153       131
9       10  Male  30-45        158       125

In [7]:
#2. Dimension
dataset.shape

(120, 5)

In [9]:
#3. Check the variable(Numberical / Categorical)
#Check numerical data
numerical_variable = dataset.columns[dataset.dtypes != 'object']
dataset[numerical_variable].head(5)

   patient  bp_before  bp_after
0        1        143       153
1        2        163       170
2        3        153       168
3        4        153       142
4        5        146       141

In [10]:
#Check categorical data
categorical_variable = dataset.columns[dataset.dtypes == 'object']
dataset[categorical_variable].head(5)

    sex agegrp
0  Male  30-45
1  Male  30-45
2  Male  30-45
3  Male  30-45
4  Male  30-45

In [11]:
#4. Identity the missing value
dataset.isnull()

     patient    sex  agegrp  bp_before  bp_after
0      False  False   False      False     False
1      False  False   False      False     False
2      False  False   False      False     False
3      False  False   False      False     False
4      False  False   False      False     False
..       ...    ...     ...        ...       ...
115    False  False   False      False     False
116    False  False   False      False     False
117    False  False   False      False     False
118    False  False   False      False     False
119    False  False   False      False     False

[120 rows x 5 columns]

In [12]:
#numerical_value
dataset[numerical_variable].isnull().head(10)

   patient  bp_before  bp_after
0    False      False     False
1    False      False     False
2    False      False     False
3    False      False     False
4    False      False     False
5    False      False     False
6    False      False     False
7    False      False     False
8    False      False     False
9    False      False     False

In [13]:
#categorical_value
dataset[categorical_variable].isnull().head(10)

     sex  agegrp
0  False   False
1  False   False
2  False   False
3  False   False
4  False   False
5  False   False
6  False   False
7  False   False
8  False   False
9  False   False

In [14]:
#5. Find out the percentage of missing value
dataset.isnull().sum()/len(dataset)

patient      0.0
sex          0.0
agegrp       0.0
bp_before    0.0
bp_after     0.0
dtype: float64

In [15]:
#6. Replace the missing value
dataset.fillna("No Missing Value")

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [16]:
#7. Fill up the missing value with specific variable
dataset['sex'].replace("Male", "Female")

0      Female
1      Female
2      Female
3      Female
4      Female
        ...
115    Female
116    Female
117    Female
118    Female
119    Female
Name: sex, Length: 120, dtype: object

In [23]:
#8. Create the row and add it with the original dataset
row_insert = pd.Series([121, 'Male', 62, 170, 183], index = ["patient", "sex", "agegrp", "bp_before", "bp_after"])
dataset.append(row_insert, ignore_index=True)

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163
120      121    Male     62        170       183

[121 rows x 5 columns]

In [29]:
#9. Call the exact row from the dataset
dataset.iloc[0]
dataset.iloc[1:10]
dataset.iloc[:13]

    patient   sex agegrp  bp_before  bp_after
0         1  Male  30-45        143       153
1         2  Male  30-45        163       170
2         3  Male  30-45        153       168
3         4  Male  30-45        153       142
4         5  Male  30-45        146       141
5         6  Male  30-45        150       147
6         7  Male  30-45        148       133
7         8  Male  30-45        153       141
8         9  Male  30-45        153       131
9        10  Male  30-45        158       125
10       11  Male  30-45        149       164
11       12  Male  30-45        173       159
12       13  Male  30-45        165       135

In [34]:
#Call the specific value
dataset = dataset.set_index(dataset["sex"])
dataset.loc['Male'].head(5)

      patient   sex agegrp  bp_before  bp_after
sex
Male        1  Male  30-45        143       153
Male        2  Male  30-45        163       170
Male        3  Male  30-45        153       168
Male        4  Male  30-45        153       142
Male        5  Male  30-45        146       141

In [37]:
#10. Rename the columns
dataset.rename(columns = {'sex' : 'gender'}).head(5)

      patient gender agegrp  bp_before  bp_after
sex
Male        1   Male  30-45        143       153
Male        2   Male  30-45        163       170
Male        3   Male  30-45        153       168
Male        4   Male  30-45        153       142
Male        5   Male  30-45        146       141

In [42]:
#11. Find the minimum and maximum, sum, count
dataset.min()
dataset.max()
dataset.sum()
dataset.count()

patient      120
sex          120
agegrp       120
bp_before    120
bp_after     120
dtype: int64

In [59]:
#12. Delete the row and column
# delete the first column
dataset.drop('bp_before', axis = 1).head(5)

      patient   sex agegrp  bp_after
sex
Male        1  Male  30-45       153
Male        2  Male  30-45       170
Male        3  Male  30-45       168
Male        4  Male  30-45       142
Male        5  Male  30-45       141

In [65]:
dataset.drop(dataset.columns[2], axis = 1) #delete column at index 1

        patient     sex  bp_before  bp_after
sex
Male          1    Male        143       153
Male          2    Male        163       170
Male          3    Male        153       168
Male          4    Male        153       142
Male          5    Male        146       141
...         ...     ...        ...       ...
Female      116  Female        152       152
Female      117  Female        161       152
Female      118  Female        165       174
Female      119  Female        149       151
Female      120  Female        185       163

[120 rows x 4 columns]

In [66]:
#13. Unique value
dataset['sex'].unique()

array(['Male', 'Female'], dtype=object)